:root {
  --background-i0: rgb(230, 230, 230);
  --background-i1: rgb(245, 245, 245);
  --background-i2: white;

  --foreground: #333;
  --xtrans-gray: rgba(150, 150, 150, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover: rgb(217, 217, 217);
  --active: rgb(157, 157, 157);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-i0: #1a1a1a;
    --background-i1: #242424;
    --background-i2: #2b2b2b;

    --foreground: rgb(230, 230, 230);
    --shadow-color: rgba(0, 0, 0, 0.4);
    --hover: rgb(22, 22, 22);
    --active: black;
  }
}

body {
  margin: 0;
  background-color: var(--background-i0);
  color: var(--foreground);
  display: flex; /* This ensures flex behavior for child elements */
  flex-direction: column; /* Align content in a column */
}
